$primaryColor: #9568A6;
$bgColor: #202024;
$inputBgColor: #2F2F37;
$originBg: #2f2f379a;
$compColor-1: #3E3E45;
$compColor-2: #35353D;
$btnColor: #5B5C63;
$iconColor: #5B5C63;
$lightColor: #F7F7F8;
$outlineColor: #7D7D7D;
$offGreen: #5AC793;
$shaddowGrey: #BEBEBE;
$idColor: #8A8B96;
$borderColor: #4e4e53;
$boxShadow: #0000005d;
$lureDark: #202024;
$error: #923050;
$kBorder: #4e4e5348;
$noraBlue: #346CAD;
$lightBorder: #ffffff38;
$halfBG: #3B3B43;
$offline: #5B5C63;
$online: #378E5F;
$moodDark: #2E2E32;
$snDark: #202024;
$resReply: #4D59C6;
$redirColor: #7C742B;
$googleRed: #D95644;
$github: #000000;
$dangerRed: #A72A48;
$succesColor: #378E5F;
$backdrop: rgba($color: #000000, $alpha: .6);

.r-1{
    border-radius: .7em;
}
.r-100{
    border-radius: 100px;
}
.aling-center{
    align-items: center;
}
.just-center{
    justify-content: center;
}
.flex{
    display: flex;
}
.fd-row{
    flex-direction: row;
}
.fd-column{
    flex-direction: column;
}
.id{
    color: $idColor;
}
.time{
    color: $shaddowGrey;
    opacity: .4;
    font-size: 13px;
}
.hr{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;
    height: 2px;
    background-color: $outlineColor;
    opacity: .1;
}
.show{
    display: block;
}
.invalid{
    border: 1px $error solid !important;
    box-shadow: 0px 0px 5px $error;
}
.error-msg{
    width: 100%;
    background-color: #202024a8;
    // padding: 5px;
    display: flex;
    color: $lightColor;
    font-size: 14px;
    
    .msg{
        border-left: 3px #923050 solid;
        padding: 5px;
        // height: 100%;
        background-color: inherit;
        width: 100%;
    }
}
.hide{
    display: none !important;
}
.show-pre{
    display: flex;
}

.active{
    opacity: 1 !important;
}

#_preloader_{
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 99999;
    background-color: $compColor-2;
    display: flex;
    // justify-content: center;
    align-items: center;
    
    .loader-circle-20{
        width: 40px !important;
        height: 40px !important;
    }
}

#_preloader_.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.btn-danger-normal{
    color: $googleRed;
    font-weight: normal;
    font-size: 15px;
    border-radius: 5px !important;

    &:hover{
        background-color: rgba($color: $googleRed, $alpha: .2) !important;
    }
}
.btn-primary{
    background-color: $primaryColor;
    font-size: 15px;
    font-weight: normal;
    border-radius: 5px;
    color: $lightColor;
}

.btn{
    font-size: 14px !important;
    transition: transform .2s ease-in !important;
    &:active{
        transform: scale(.8) !important;
    }
}